.loginPageContainer {
  background: url(../../assets/imgs/loginPageBg.png);
  background-size: cover;
}
.zabiLoginPage {
  width: 50% !important;
  height: 30% !important;
  margin: 0 auto;
  display: block !important;
  margin-top: 20%;
}
.inputcontainer {
  margin-top: 5%;
}
.inputcontainer .inputRow {
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 20px;
}
.inputcontainer .inputRow .input {
  margin-top: 1%;
  color: white !important;
}
.frgtpwd {
  text-align: center;
  color: white;
  font-size: 20px;
}
.loginButton {
  width: 80%;
  background-color: forestgreen;
  display: block;
  margin: 0 auto;
  border-radius: 20px;
  color: white;
}
