.home-container {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.teamFlagResults {
  border-radius: 100%;
  width: 30px !important;
  height: 30px !important;
  display: inline !important;
}
.homePageHeader {
  background: darkseagreen;
  color: white;
  font-family: 'QUICKSAND-BOLD';
}
.matchtimercontainer {
  display: flex;
  text-align: center;
  padding: 10px;
  /* margin-top: 15px; */
}
.homePageContainer {
  background: url(../assets/imgs/homebg.png);
  font-family: 'QUICKSAND-REGULAR';
}
.point {
  flex: 1;
  font-size: 12px;
}
.timer {
  flex: 2;
}

.gamecontainer {
  flex: 1;
  /* margin: 5px; */
  overflow: auto;
}

ion-card {
  margin: 5px;
  border-radius: 20%;
}
.cardResults {
  //   background: rgba(255, 255, 255, 0.3);
  background: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  font-family: 'QUICKSAND-BOLD';
}
ion-card-header {
  font-size: 15px;
  text-align: center;
  margin-bottom: 0px;
  background: #1274af;
  font-family: 'QUICKSAND-REGULAR';
  color: white !important;
}
ion-card-content {
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  text-align: center;
}
ion-card-footer {
  text-align: center;
  margin-bottom: 0px;
}
.cardFooterResults {
  text-align: center;
  background: #1274af;
  font-family: 'QUICKSAND-REGULAR';
}
.cardFooterResults p {
  color: white;
}
