.predictionContainer {
  background: url(../assets/imgs/homebg.png);
  font-family: 'QUICKSAND-REGULAR';
}
.goalInput {
  width: 60%;
  text-align: center;
  margin-left: 24%;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 15px;
}
.saveButton {
  width: 100%;
  background-color: forestgreen;
  display: block;
  margin: 0 auto;
  border-radius: 20px;
  color: white;
}
.cardfooterp {
  text-align: center;
  font-family: 'QUICKSAND-REGULAR';
  height: 10%;
}
.teamFlag {
  border-radius: 100%;
}
