.cardc div {
  width: 100%;
}
.card {
  background: rgba(255, 255, 255, 0.3);
  border-radius: 20px;
  font-family: 'QUICKSAND-BOLD';
  width: 90%;
  margin: 5% auto;
}
.cPageContainer {
  background: url(../assets/imgs/homebg.png);
  font-family: 'QUICKSAND-REGULAR';
  //border: 2px solid #fff;
}
.cardc {
  //   background: rgba(255, 255, 255, 0.3);
  background: rgb(255, 255, 255);
  border-radius: 20px;
  font-family: 'QUICKSAND-BOLD';
  grid-template: none;
}
.ques {
  padding-top: 6px;
  text-align: justify;
  border-radius: 5px;
  font-family: 'QUICKSAND-REGULAR';
  font-weight: bold;
}
.inputBox {
  background-color: white;
  font-family: 'QUICKSAND-REGULAR';
  display: grid;
  grid-template-columns: 1fr;
}
.inputBox .input {
  background-color: rgba(0, 0, 0, 0.4);
  margin-bottom: 10px;
  border-radius: 10px;
  height: 40px;
  color: white;
  margin-top: 10px;
  font-size: 15px;
}
.radioContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.cardfooterp {
  text-align: center;
  background: #1274af;
  font-family: 'QUICKSAND-REGULAR';
  color: white;
}
.cardfooterp .col {
  text-align: center;
  font-family: 'QUICKSAND-REGULAR';
  color: white;
}

.cPageContainer .saveButton {
  width: 90%;
  background-color: forestgreen;
  color: white;
  height: 38px;
  float: right;
  border-radius: 10px;
  margin-top: 10px;
}
.cPageContainer .saveButtonRadio {
  width: 60%;
  background-color: forestgreen;
  color: white;
  height: 28px;
  float: right;
  border-radius: 10px;
  margin-left: 40%;
}
