<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu">
      </ion-icon>
    </button>
    <ion-title>Challenges</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="cPageContainer">
  <ion-card *ngFor="let item of todaysChallenges">

    <ion-card-content class="cardc">
      <div class="ques">
        <div>
          {{item.challenge}}
        </div>
        <div *ngIf="item.inputBox" class="inputBox">
          <input class="input" value="{{item.ans}}" placeholder="here" id="{{item.cId}}" type="text">
          <button class="saveButton" (click)="saveChallangeInput(item.cId,item.date,item.time)">
            Predict
          </button>

        </div>
        <ion-list *ngIf="item.multippleChoice" radio-group class="radioContainer">
          <ion-item>
            <ion-radio value="{{item.option1}}"></ion-radio>
            <ion-label>{{item.option1}}</ion-label>
          </ion-item>

          <ion-item>
            <ion-radio value="{{item.option2}}"></ion-radio>
            <ion-label>{{item.option2}}</ion-label>
          </ion-item>

          <ion-item>
            <ion-radio value="{{item.option3}}"></ion-radio>
            <ion-label>{{item.option3}}</ion-label>
          </ion-item>

          <ion-item>
            <ion-radio value="{{item.option4}}"></ion-radio>
            <ion-label>{{item.option4}}</ion-label>
          </ion-item>
          <ion-item>

          </ion-item>
          <button class="saveButtonRadio" (click)="saveChallangeRadio(item.cId)">
            Predict
          </button>
        </ion-list>

      </div>
    </ion-card-content>

    <ion-row class=" cardfooterp ">
      <ion-col>
        {{timerfn(item)}}
      </ion-col>
    </ion-row>

  </ion-card>
</ion-content>