.signUpContainer {
  background: url(../assets/imgs/loginPageBg.png);
  background-size: cover;
  overflow: hidden !important;
}
.zabiSignUpPage {
  width: 40% !important;
  height: 20% !important;
  margin: 0 auto;
  display: block !important;
  margin-top: 2%;
}

.inputcontainerSignUp {
  //margin-top: 40%;
  overflow: hidden !important;
  // height: 70%;
  // width: 100%;
}
.inputcontainerSignUp .inputRow {
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  // width: 90%;
  margin: 0 auto;
  margin-top: 2%;
}

.signUpButton {
  width: 80%;
  background-color: forestgreen;
  display: block;
  margin: 0 auto;
  border-radius: 20px;
  color: white;
  margin-top: 5%;
}
.backToLoginButton {
  width: 80%;
  background-color: forestgreen;
  display: block;
  margin: 0 auto;
  border-radius: 20px;
  color: white;
  margin-top: 1%;
}
